*{
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman', Times, serif;
}
html{
	scroll-behavior: smooth;
}
body{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.75)),url(../images/i02_green.jpg);
	background-size: cover;
	background-position: center;
}
.logo{
    margin-bottom: -25px;
}.checkbtn{
    font-size: 30px;
    color: #2c2c2c;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-top: 20px;
    cursor: pointer;
    display: none;
} 
#check{
    display: none;
}
nav{
    background: #7b6895;
    height: 75px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}
nav ul{
    position: absolute;
    right: 20px;
    top: -20px;
}
ul li a:hover{
    background: purple;
}
label.logo1{
    padding-left: 25px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 20px 5px;
}
nav ul li a{
    color: White;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: all .42s ease; 
    text-decoration: none;
}
a:hover{
    background: purple;
    transition: 0.5s;
    transform: scale(1.1);
    color: White;
}
.logo {
  display: block;
  width: 200px; 
  height: 50px;
  position: sticky;
  top: 10px;
  left: 10px;
}
.up-center-text h2{
    text-align: center;
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    margin: 30px 100px 30px;
}
/* Image adjustment*/
.gal img, .imgc img{
    max-width: 100vh;
}
.image{
    width: 49.6%;
    cursor: pointer;
}
.image{
    width: 100%;
    cursor: pointer;
}
.imgc{
width: 100%;
margin: 0%;
}
/* Image adjustment */
.gal{
	margin-left: 50px;
    transition: all .40s;
}
.gal img{
    width: 65%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    transition: all .40s;
    cursor: pointer;
}
.gal img:hover{
    transform: scale(1.1);
}
.update-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
}
.gal h5{
    color: white;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    margin: 5px 0px 5px;
}
.gal h4{
	width: 75%;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.gal p{
	width: 75%;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}
.gal h6{
    color: #151515;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all .40s;
}
.gal h6:hover{
    color: purple;
}
/* contact-section */
.contact{
    background-color: #212529;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
	margin: 50px 50px 0px 50px;
}
.first-info img{
    width: 40%;
    height: auto;
}
.contact-info h4{
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
	margin-top: 20px;
}
.contact-info p{
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}
.contact-info p:hover{
    color: #0c5251;
}
.social-icon i{
    color: white;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}
.social-icon i:hover{
    transform: scale(1.3);
}
.end-text{
    background-color: #7b6895;
    text-align: center;
    padding: 20px;
}
.end-text p{
    color: white;
}
.gotopbutton{
    background: #7b6895 ;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

@media (max-width: 750px){
    .checkbtn{
        display: block;
        z-index: -1;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #7b6895;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: -1;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover{
        background: none;
        color: purple;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .up-center-text h2{
        text-align: center;
        color: white;
        font-size: 25px;
        text-transform: capitalize;
        font-weight: 700;
        margin: 30px 0px 30px;
    }
}

/*popup image=====================================================================================================*/
.popup
{
position:fixed;
top:0; left:0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.63);
display: none;
z-index: 100;
}
.popup span
{
position: sticky;
top:15%; left:10px;
font-size: 30px;
font-weight: bolder;
border: 0px;
border-radius: 0px;
background-color: none;
color: #c00000;
cursor: pointer;
z-index: 100;

}
.popup img
{
position: absolute;
top:60%; left:50%;
margin-left: auto;
margin-right: auto;
transform: translate(-50%, -50%);
border:5px solid #0e5e56;
border-radius: 5px;
width: 750px;
max-height: 95%;
object-fit: cover;
/*display: hidden;*/
transition: .5s;
z-index: 99;

}
@media(max-width:768px){
    .popup img
    {
        width:95%;
    }
}@media (max-width: 820px){
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #e6daeb;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: -1;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover{
        background: none;
        color: purple;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
@media(max-width:867px){
    .navmenu{
        position: absolute;
        top: 100%;
        right:-100%;
        width: 300px;
        height: 130vh;
        background: #edfff1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
        z-index: -1;
    }
    .navmenu a{
        display: block;
        margin: 18px 0;
    }
    .navmenu.open{
        right: 0;
    }
}
@media (max-width: 952px){
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 820px){
    .checkbtn{
        display: block;
        z-index: -1;
        margin-top: 0px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #7b6895;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: -1;
        margin-top: 50px;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover{
        background: none;
        color: purple;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
